@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&family=Roboto:wght@400;500&display=swap');
//  font-family: 'Roboto', sans-serif;
//  font-family: 'Poppins', sans-serif;


  
  .bg {
     
    /* Full height */
    height: 768px;
    width: 100%;
    background: url("../img/slider-1@2x.png") no-repeat center;
    background-size: cover;
  }
  nav{
    padding-top: 2em;
  }

  ul > li{
    list-style-type: none;
    display: inline;
    margin-right: 3em;

    > a{
    font-family: 'Roboto';
    font-weight: 500;
    color: hsl(0, 100%, 100%);
    font-size: 1em;
    text-decoration: none;
    }
    > a:hover{
      color:hsl(0, 0, 24%);
    }
    
   
  }
  #logo{
    margin-left: 5em;
  }
 
 
  
