@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&family=Roboto:wght@400;500&display=swap');
//  font-family: 'Roboto', sans-serif;
//  font-family: 'Poppins', sans-serif;


  
  .bg {
     
    /* Full height */
    height: 100%;
    width: 100%;
    background: url("../img/slider-1@2x.png") no-repeat center;
    background-size: cover;
  }
 
 
  
