@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&family=Roboto:wght@400;500&display=swap');
//  font-family: 'Roboto', sans-serif;
//  font-family: 'Poppins', sans-serif;


  
  .bg {
     
    /* Full height */
    height: 768px;
    width: 100%;
    background: url("../img/slider-1@2x.png") no-repeat center;
    background-size: cover;
  }
  nav{
    padding-top: 2em;
  }
h2, p, a{
  color: hsl(0, 100%, 100%);
}
  ul > li{
    list-style-type: none;
    display: inline;
    margin-right: 3em;

    > a{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 1em;
    text-decoration: none;
    }
    > a:hover{
      color:hsl(0, 0, 24%);
    }
    
   
  }
  #logo, .mainContent{
    margin-left: 5em;
   
  }
  .mainContent{
    margin-top: 5em;
  }
 .mainTitle{
   font-size: 3em;
   font-family: 'Poppins', sans-serif;
   font-weight: 600;
   padding-bottom: 1em;
   color: hsl(0, 100%, 100%);
 }
 .mainP{
   padding-bottom: 1em;
   font-family: 'Roboto', sans-serif;
   font-weight: 500;
   font-size: 1em;
   color: hsl(0, 100%, 100%);
 }
button{
  border-radius: 50%;
  color: hsl(0, 100%, 100%);
} 
  
